*{
    padding: 0;
    margin: 0;
}

/* for header of KKG Institute */
header {
    background-color: #9cddf6;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    font-size: 30px;
    font-weight: bold;
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* for  */
.nav_bar {
    margin: 20px 0px 20px 150px;
    font-size: 20px;
    height: 30px;
    /* display: block; */
}

.nav_bar a {
    text-decoration: none;
    /* padding: 0px 0px 0px 50px; */
}
.nav_bar ul {
    margin: auto;
    float: left;
    padding: 8px 0px 0px 100px;
}

.nav_bar li {}

#search {
    margin: 8px;
    float: right;
    padding: 2px 20px;
    margin-right: 30px;
    border-radius: 4px;
    text-align: center;
}
.ba {
    background-color: #162b6c;
    height: 200px;
    width: 100%;
    margin: 40px 0px;
}

.ba h1 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 80px;
}
.container4{
    margin: 40px 0px 0px 180px ;
    height: 800px;
    width: 75%;
    /* border: 2px solid red; */
}
h3{
    color: #074994ec;
    font-size: 50px;
    font-weight: 900;
}
p{
    font-size: 25px;
    margin: 30px 0px ;
}

ul{
    list-style: none;
}
li{
    font-size: 25px;
    padding: 20px 0px 0px 0px;
}
.overview{
    color: #074994ec;
    font-size: 40px;
    text-decoration: underline;
    font-weight: 700;
}