* {
    padding: 0;
    margin: 0;
}

/* for header of KKG Institute */
header {
    background-color: #9cddf6;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    font-size: 30px;
    font-weight: bold;
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* for  */
.nav_bar {
    margin: 20px 0px 20px 150px;
    font-size: 20px;
    height: 30px;
    /* display: block; */
}

.nav_bar a {
    text-decoration: none;
    /* padding: 0px 0px 0px 50px; */
}

.img {
    width: 100%;
    height: 600px;
}

.nav_bar ul {
    margin: auto;
    float: left;
    padding: 8px 0px 0px 100px;
}

.nav_bar li {}

#search {
    margin: 8px;
    float: right;
    padding: 2px 20px;
    margin-right: 30px;
    border-radius: 4px;
    text-align: center;
}

.p1 {
    font-size: 45px;
    font-weight: bold;
    margin: 20px 0px 20px 20px;
    text-align: center;
}

.container {
    height: 800px;
    width: 100%;
    /* border: 2px solid red; */
    margin: 100xp;
    display: block;
}

/* for top courses */
.best {
    font-size: 20px;
    margin: 10px 0px 0px 10px;
}

.best a {
    padding: 20px 0px 0px 15px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    line-height: 60px;
}

.best a:hover {
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box {
    box-sizing: border-box;
    background-color: #0054A6;
    width: 285px;
    height: 350px;
    margin: 20px 0px 0px 90px;
    float: left;
}

.cr {
    margin: 20px 0px 0px 0px;
}

.cr a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding: 20px 0px 0px 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 50px;
}

.cr a:hover {
    text-decoration: underline;
}

.time {
    font-size: 20px;
    color: #fff;
    padding: 0px 0px 0px 30px;
    line-height: 50px;
}

/* Courses Describe */
.box1 {
    background-color: #e48e91;
    width: 285px;
    height: 350px;
    margin: 20px 0px 0px 90px;
    float: left;
}

.box2 {
    background-color: #1f5746;
    width: 285px;
    height: 350px;
    margin: 20px 0px 0px 90px;
    float: left;
}

.box3 {
    background-color: #26c1ec;
    width: 285px;
    height: 350px;
    margin: 20px 0px 0px 90px;
    float: left;
}

.box4 {
    background-color: #9a82fb9b;
    width: 285px;
    height: 350px;
    margin: 20px 0px 0px 90px;
    float: left;
}

.box5 {
    background-color: #60681b9b;
    width: 285px;
    height: 350px;
    margin: 20px 0px 0px 90px;
    float: left;
}

.box6 {
    background-color: #f84d1e9b;
    width: 285px;
    height: 350px;
    margin: 20px 0px 0px 90px;
    float: left;
}

.box7 {
    background-color: #b3b53a;
    width: 285px;
    height: 350px;
    margin: 20px 0px 0px 90px;
    float: left;
}

.box8 {
    background-color: #0277bd;
    width: 285px;
    height: 350px;
    margin: 20px 0px 0px 90px;
    float: left;
}

.box9 {
    background-color: #093e57;
    width: 285px;
    height: 350px;
    margin: 20px 0px 0px 90px;
    float: left;

}

/* for Register Form */
.container1 {
    margin: 0px 0px 0px 0px;
    /* border: 4px solid green; */
    height: 750px;
    width: 100%;
    background-color: #eff1f1;
    display: block;
}

.info {
    height: 45px;
    /* float: left; */
    margin: 20px 20px;
    /* padding: 0px  0px  0px 20px; */
    font-size: 20px;
    line-height: 20px;
}

#course {
    font-size: 15px;
}

.btn {
    font-size: 15px;
    margin: 0px 0px 20px 18px;
    height: 36px;
    width: 100px;
    background-color: #0277bd;
    color: #fff;
    font-weight: bold;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

/* footer */
.container3 {
    background-color: #162b6c;
    height: 500px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about {
    margin: 40px;
    /* border: 2px solid red; */
    height: 350px;
    width: 250px;
    padding: 20px;
    float: left;
}

.popular {
    margin: 40px;
    /* border: 2px solid red; */
    height: 350px;
    float: left;
    padding: 30px;
    text-align: left;
}

.popular ul {
    list-style: none;
}

.popular li {
    padding: 0px;
    width: 15px;
}

.ulink {
    margin: 40px;
    /* border: 2px solid red; */
    height: 350px;
    width: 250px;
    float: left;
    padding: 30px;
}

.ulink ul {
    list-style: none;
}

.contact {
    margin: 40px;
    /* border: 2px solid red; */
    height: 350px;
    width: 550px;
    /* padding:0px 0px 55px 20px; */
    float: left;
}


.contact ul {
    list-style: none;
}

.footer {
    margin: 30px;
}

.footer a {
    padding: 40px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
}

a:hover {
    color: #ED1C24;
}

.footer p {
    padding: 0px 0px 10px 20px;
    color: #fff;
    margin: 20px;
    font-size: 20px;
}

/* for  Basic Advance Courses Page */
.ba {
    background-color: #162b6c;
    height: 200px;
    width: 100%;
}

.ba h1 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 80px;
}
